# Ignore backup folder
backup/
testing/
readme/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Ignore node_modules
node_modules/

# Ignore build files


# Ignore IDE files
.idea/
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
